*{
    padding: 0px;
    margin: 0px;
    color: aliceblue;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin: 0px 200px 0px 0px;
    text-decoration: none;
}